- provide(:title, 'Home')
#main
  .impact
    .container
      .row
        .col-md-2
        .col-md-6
          #first
            %a{href: "http://www.amway.com/Shop/Product/Category.aspx/Weight-Management?pwsID=DeepakChaudhari"}
              %img{src: "/assets/amway1.jpg"}
          #second.hide
            %a{href: "http://www.amway.com/Shop/Product/Category.aspx/Artistry-Youth-Xtend?_va=y&_sort=Item|A&pwsID=DeepakChaudhari"}
              %img{src: "/assets/anti-big.jpg"}
          #third.hide
            %a{href: "http://www.amway.com/at-home/legacy-of-clean?pwsID=DeepakChaudhari"}
              %img{src: "/assets/home-big.jpg"}
          #fourth.hide
            %a{href: "http://www.amway.com/Shop/Product/Category.aspx/Glister?pwsID=DeepakChaudhari"}
              %img{src: "/assets/oral-big.jpg"}
          #fifth.hide
            %a{href: "http://www.amway.com/Shop/Product/Product.aspx?ItemNo=219&pwsID=DeepakChaudhari"}
              %img{src: "/assets/xs-big.jpg"}
          #sixth.hide
            %a{href: "http://www.amway.com/Shop/Product/Category.aspx/all-occasions?_sort=Item|A&_va=y&pwsID=DeepakChaudhari"}
              %img{src: "/assets/gift-big.jpg"}
        .col-md-3
      %br
      %br
      %br
      .row
        .col-md-2
          %a#first-img.subimg{href: "javascript:void(0)", style:"margin-left:25px;", type:"first"}
            %img{src: "/assets/weight.jpg", style: "height:73px"}
            %br
            %br
            %p{style: "padding: 10px 0px:"} Weight Management
        .col-md-2
          %a#second-img.subimg{href: "javascript:void(0)", type: 'second'}
            %img{src: "/assets/skin.jpg"}
            %br
            %br
            %p{style: "padding: 10px 0px:"}  Anti-aging Skin Care        
        .col-md-2
          %a#third-img.subimg{href: "javascript:void(0)", type: 'third'}
            %img{src: "/assets/home.jpg"}
            %br
            %br
            %p{style:"margin-left:40px"} Home
        .col-md-2
          %a#fourth-img.subimg{href: "javascript:void(0)", type: 'fourth'}
            %img{src: "/assets/oral_care.jpg"}
            %br
            %br
            %p{style:"margin-left:40px"} Oral Care
        .col-md-2
          %a#fifth-img.subimg{href: "javascript:void(0)", type: "fifth"}
            %img{src: "/assets/xs.jpg"}
            %br
            %br
            %p{style:"margin-left:50px"} XS
        .col-md-2
          %a#sixth-img.subimg{href: "javascript:void(0)", type:"sixth"}
            %img{src: "/assets/gift.jpg"}
            %br
            %br
            %p{style:"margin-left:50px"}  Gift


:coffeescript
  $(document).ready ->
    $('.subimg').on "click", (e) ->
      img = $(this).attr('type')
      $('#first').removeClass('show')
      $('#first').addClass('hide')
      $('#second').removeClass('show')
      $('#second').addClass('hide')
      $('#third').removeClass('show')
      $('#third').addClass('hide')
      $('#fourth').removeClass('show')
      $('#fourth').addClass('hide')
      $('#fifth').removeClass('show')
      $('#fifth').addClass('hide')
      $('#sixth').removeClass('show')
      $('#sixth').addClass('hide')
      $('#' + img).addClass('show')
